<nav class="site-navigation position-relative text-right" role="navigation">

    <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
      <li><a href="#section-home" class="nav-link">Home</a></li>
      <li class="has-children">
        <a href="#section-about" class="nav-link">About Us</a>
        <ul class="dropdown">
          <li><a href="#section-how-it-works" class="nav-link">How It Works</a></li>
          <!-- <li><a href="#section-our-team" class="nav-link">Our Team</a></li> -->
        </ul>
      </li>
      <li><a href="#section-services" class="nav-link">Services</a></li>
      <!-- <li><a href="{{ url_for('price') }}" class="nav-link">Price</a></li> -->
      <!-- <li><a href="#section-blog" class="nav-link">Blog</a></li> -->
      <li><a href="#section-contact" class="nav-link">Contact</a></li>
    </ul>
  </nav>