{% extends 'layout.html' %} 
{% block body %}
<div class="banner-blocks-cover overlay" style="background-image: url('static/images/nav.jpg');">
    <div class="banner-text">
    </div>
  </div>



  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 order-md-1" data-aos="fade-up">
          <div class="text-left pb-1 border-primary mb-4">
            <h2 class="text-primary">{{ ViewBlog.BlogTitle }}</h2>
          </div>
          <p>{{ ViewBlog.Content }}</p>
        <p class="mb-5"></p>
        
          {% from "includes/_formhelpers.html" import render_field %} 
      
        </div>       
      </div>
    </div>
  </div>

{% endblock%} 
    