{% extends 'layout.html' %} 
{% block body %}
<div class="banner-blocks-cover overlay" style="background-image: url('static/images/nav.jpg');">
    <div class="banner-text">
    </div>
  </div>



  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 order-md-1" data-aos="fade-up">
          <div class="text-left pb-1 border-primary mb-4">
            <h2 class="text-primary">Price Model Prediction</h2>
          </div>
          <p>At Farmula, we have designed a price prediction model to help stakeholders in the agricultural sector get access to future prices of produce and use that information to plan purchases better.</p>
          <p>Our model leverages on key factors including weather, supply & demand.	<br> 
            You can currently test our price predictor for Potatoes in Kenya.
        </p>
        <p class="mb-5"></p>
        
          {% from "includes/_formhelpers.html" import render_field %} 
      
        </div>       
      </div>
    </div>
  </div>

{% endblock%} 
    