{% extends 'layout.html' %} 
{% block body %}
<div class="banner-blocks-cover overlay" style="background-image: url('static/images/nav.jpg');">
    <div class="banner-text">
    </div>
  </div>

  <div class="row_slider">
    <div class="container">
        <section class="customer-logos slider">
                {% for item in PriceItems %}
            <div class="slide"><p> {{ item.qty.Qty  }} {{ item.co.ConditionName }} {{ item.crop.Name }} at {{ item.market.Name }} = Sh{{ item.Price }} </p></div>
            {% endfor %}
       </section>
    </div>
</div>

  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 order-md-1" data-aos="fade-up">
          <div class="text-left pb-1 border-primary mb-4">
            <h2 class="text-primary">Price Model Predection</h2>
          </div>
          <p>At Farmula, we have designed a price prediction model to help stakeholders in the agricultural sector get access to future prices of produce and use that information to plan purchases better.</p>
          <p>Our model leverages on key factors including weather, supply & demand.	<br> 
            You can currently test our price predictor for Potatoes in Kenya.
        </p>
        <p class="mb-5"></p>
        
          {% from "includes/_formhelpers.html" import render_field %} 
          <form action="" method="POST">
              <div class="row">
                <div class="col-7">
               <div class="line"></div> 
                 <h5 class="text-primary">Predicted Prices</h5>
                    <div class="card">
                            <div class="card-body">
                                <table class="table-responsive table-hover">
                                    <thead>
                                            <th scope="col">Date</th>
                                            <th scope="col">Produce</th>
                                            <th scope="col">Predict Price (KSH)</th>
                                            <th scope="col">Average Price (KSH)</th>
                                            <th scope="col">Relative Error %</th>
                                    </thead>
                                    <tbody>
                                            {% for item in PredictionItems %}
                                        <tr>
                                            <td>{{ item.PredictionDate }}</td>
                                            <td>{{ item.crop.Name }}</td>
                                            <td>{{ item.PrePrice }}</td>
                                            <td>{{ item.AvgPrice }}</td>
                                            <td>{{ (( ( (item.AvgPrice)|int  - (item.PrePrice)|int ) / (item.AvgPrice)|int ) * 100 )|round(2)|abs  }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
                      <div class="col-5">
                            <h5 class="text-primary">Price Prediction Model</h5>
                            <div class="card">
                              <div class="card-body">
                              <h6>Predict Potato Price</h6>
                              <br>
                                  <div class="container ">
                                  <div class="row ">
                                      <div class="col-12">
                                          {{ render_field(form.crop, class_="form-control") }}                         
                                      </div>       
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row ">
                                      <div class="col-12">
                                          {{ render_field(form.month, class_="form-control") }}                         
                                      </div>       
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row ">
                                      <div class="col-12">
                                          {{ render_field(form.day, class_="form-control") }}                         
                                      </div>       
                                  </div>
                                  <br>
                                  <br>
                                  <div class="row">
                                      <div class="col-12">
                                          {{ render_field(form.year, class_="form-control") }}                         
                                      </div>       
                                  </div>
                              </div>
                              <div class="col"></div>
                              <div class="w-100"></div>
                              <div class="col center">
                                  <br>
                                  <h6>{{ crop_txt_temp }}</h6>
                                   <h6>{{ month_i }}</h6>
                                   <h6>{{ year }} </h6>
                                   <h6>{{ day }} </h6>
                                   <h6>{{ price }} </h6>
                          </div>
                                  <div class="container center">
                                      <div class="row row-btn"></div>
                                          <button class="btn save">Predict</button>
                                      </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>        
        </div>       
      </div>
    </div>
  </div>

{% endblock%} 
    